---
import "@style/global.css";
---

<header class="w-full bg-gray-900 text-white py-4 shadow">
  <nav class="mx-auto max-w-5xl flex items-center justify-between px-4">
    <!-- LOGO -->
    <div>
      Fast 4 Transfer
    </div>
    <!-- CONTENT -->
    <div>
    </div>
  </nav>
</header>
