---
import "@style/global.css";
---

<footer class="w-full bg-gray-900 text-gray-300 py-6 mt-10">
  <div class="max-w-6xl mx-auto px-4 flex flex-col sm:flex-row justify-between items-center">
    <p class="text-sm">
      Fast 4 Transfer. All rights reserved for GNU Public License.
    </p>

    <div class="flex gap-4 mt-4 sm:mt-0">
      <a href="#" class="hover:text-white transition">About</a>
      <a href="#" class="hover:text-white transition">Github</a>
      <a href="#" class="hover:text-white transition">X</a>
      <a href="#" class="hover:text-white transition">Buy me a coffee</a>
    </div>
  </div>
</footer>

